---
import { SITE_TITLE } from "../consts";
---

<footer class="Footer">
    <a href="/" class="Home:Link">
      <img
        class="SiteLogo"
        src="/site-logo.png"
        alt="Cartoon Beats Reality logo"
      />
		</a>
		<div class="Menu">
			<a href="/blog">Blog</a>
			<a href="/">Music</a>
		</div>
</footer>
