---
import { SITE_TITLE } from "../consts";
---

<header class="Header">
  <nav class="Header-menuBar">
    <a href="/">
      <img
        class="SiteLogo"
        src="/site-logo.png"
        alt="Cartoon Beats Reality logo"
      />
		</a>
    <a class="SiteTitle" href="/">{SITE_TITLE}</a>
  </nav>
</header>
