@use '../styles/_globals.scss';
@use './Release-base.scss';

.Release.VerticalStackRelease {
  .Release-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .Release-info {
      font-size: 2em;
    }  

    .Release-blurb {
      padding: 1em;
      text-align: center;
      font-size: 1.4em;
    }

    .Release-cover {
      img {
        max-width: min(600px, 70vw);
      }

    }

    @media only screen and (min-width: globals.$medium) {
      .Release-info {
        font-size: 1em;
      }
      .Release-blurb {
        font-size: 1em;
      }
    }
  }
}