---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, heroImage, headerImage } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header short title={title} image={headerImage} />
		<main class="PageContent">
			<article>
				<div class="prose">
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
